.bg-blackish {
  background: #212121;
}
.primaryText {
  color: #6d9886 !important;
}
.bg-offWhite {
  background: #d9cab3;
}
body {
  background: #f6f6f6 !important;
  background: #dfd8c8 !important;
  background: #ffffff !important;
}
